* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none
}

.slider-wrapper {
    position: relative;
    margin: 30px auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border: 1px solid green;
}

.sliders {
    position: absolute;
    height: 300px;
}

.sliders .slider {
    width: 500px;
    float: left;
    height: 300px;
}

.sliders .slider img {
    width: 100%;
    height: 100%;
}

.slider-arrows {
    width:500px;
    height:40px;
    position: absolute;
    top:50%;
    margin-top:-20px;
}
.slider-arrows .arrow{
    width:40px;
    font-size:24px;
    line-height: 40px;
    height:40px;
    background-color: #EEE;
    text-align: center;
    cursor: pointer;
}
.slider-arrows .arrow:hover{
    background-color: #CCC;
}
.slider-arrows .arrow-left{
    float:left;
    margin-left:10px;
}
.slider-arrows .arrow-right{
    float:right;
    margin-right:10px;
}
.slider-dots{
    width:500px;
    position: absolute;
    bottom:10px;
    text-align: center;
}
.slider-dots .dot{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius: 50%;
    margin-left:5px;
    background-color: #CCCCCC;
    cursor: pointer;
}

.slider-dots .dot.active{
    background-color: #888888;
}